@charset "UTF-8";
/******************************************************************

Variables

******************************************************************/
/********** Colors **********/
/********** Font **********/
/********** Font size **********/
/********** Font weight **********/
/********** Margin bottom **********/
/********** Z index **********/
/******************************************************************

Base styles

******************************************************************/
body {
  font-family: "Lato", "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴシック", "YuGothic", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 0.938rem;
  background-color: #f7fcfd;
  color: #525f60;
}

h1,
h2,
h3,
h4 {
  color: #232929;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.flex, .header__ul, .about__container, .news__container, .recruitment__content, .faq__container, .faq__wrapper, .contact__container, .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid, .about__wrapper, .news__wrapper, .news__item, .recruitment__container, .faq__question, .faq__answer__inner, .contact__wrapper {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.global-container {
  padding-bottom: 1.5rem;
}

.container, .header__container, .about__container, .news__container, .recruitment__container, .faq__container, .contact__container, .footer__container {
  max-width: 992px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.button, .news__button, .recruitment__button, .contact__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  background-color: #37bccd;
  font-weight: 700;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover, .news__button:hover, .recruitment__button:hover, .contact__button:hover {
  background-color: #3699a6;
  color: #fff;
}

.section, .about, .news, .recruitment, .faq, .contact {
  padding: 2rem 0 4rem;
}

.section__title, .about__title, .news__title, .faq__title, .contact__title {
  font-size: 1.75rem;
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

.section__title::before, .about__title::before, .news__title::before, .faq__title::before, .contact__title::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  display: inline-block;
  width: 3rem;
  height: 0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #37bccd;
  border-radius: 0.25rem;
}

.section__subtitle, .about__subtitle, .news__subtitle, .faq__subtitle, .contact__subtitle {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 3rem;
}

.section__title, .about__title, .news__title, .faq__title, .contact__title, .section__subtitle, .about__subtitle, .news__subtitle, .faq__subtitle, .contact__subtitle {
  text-align: center;
}

.section__head, .about__head, .recruitment__head, .contact__head {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 0.75rem;
}

.section__description, .about__description, .news__description, .recruitment__description, .faq__description, .contact__description {
  line-height: 2;
}

/********** Header **********/
.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #f7fcfd;
  -webkit-box-shadow: 0 6px 9px -4px rgba(10, 10, 10, 0.15);
          box-shadow: 0 6px 9px -4px rgba(10, 10, 10, 0.15);
}

.header__container {
  max-width: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header__image {
  width: 34px;
}

.header__title {
  display: block;
  width: 80px;
}

.header__nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #e1f7fa;
  -webkit-transition: all 0.5s cubic-bezier(0.89, 0.05, 0.28, 1);
  transition: all 0.5s cubic-bezier(0.89, 0.05, 0.28, 1);
}

.header__nav.is-active {
  right: 0;
}

.header__ul {
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
}

.header__link {
  font-size: 1rem;
  font-weight: 700;
  color: #232929;
  letter-spacing: 0.05rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__link:hover {
  color: #37bccd;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  font-size: 1.25rem;
  color: #232929;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__icon:hover {
  color: #37bccd;
}

.header__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  z-index: 10000;
}

.header__btn-border {
  background-color: #232929;
  width: 24px;
  height: 1.6px;
  display: block;
  margin-bottom: 6px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__btn-border:last-child {
  margin-bottom: 0;
}

.header__btn.is-active > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(7.6px) rotate(135deg);
          transform: translateY(7.6px) rotate(135deg);
}

.header__btn.is-active > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-12px) scaleX(0);
          transform: translateX(-12px) scaleX(0);
}

.header__btn.is-active > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-7.6px) rotate(-135deg);
          transform: translateY(-7.6px) rotate(-135deg);
}

.active-link {
  color: #37bccd;
}

/********** Hero **********/
.hero {
  height: 530px;
  padding-top: 4rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/********** About **********/
.about__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__wrapper {
  gap: 2rem;
}

.about__image {
  width: 100%;
  max-width: 576px;
  border-radius: 0.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

/********** News **********/
.news__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__wrapper {
  margin-bottom: 2rem;
}

.news__item {
  gap: 0.5rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.news__date {
  color: #9fabad;
}

.news__category {
  font-weight: 700;
}

.news__date, .news__category {
  display: block;
}

/********** Recruitment **********/
.recruitment__bg {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #37bccd;
}

.recruitment__container {
  gap: 2rem;
}

.recruitment__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recruitment__head {
  color: #fff;
  text-align: center;
}

.recruitment__description {
  margin-bottom: 1.5rem;
  color: #fff;
  text-align: center;
}

.recruitment__button {
  background-color: #fff;
  color: #37bccd;
}

.recruitment__button:hover {
  background-color: #f7fcfd;
  color: #3699a6;
}

.recruitment__image {
  width: 230px;
  -ms-grid-column-align: center;
      justify-self: center;
}

/********** Faq **********/
.faq__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 768px;
}

.faq__item {
  width: 100%;
  border-bottom: 1px solid #cdd4d5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__item:first-child {
  border-top: 1px solid #cdd4d5;
}

.faq__question {
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
  -ms-grid-columns: 0.75rem auto 1.25rem;
      grid-template-columns: 0.75rem auto 1.25rem;
  padding: 2rem 1rem 2rem 1rem;
  cursor: pointer;
}

.faq__answer {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__answer__inner {
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
  -ms-grid-columns: 0.75rem auto;
      grid-template-columns: 0.75rem auto;
  padding: 0 2.89rem 2rem 1rem;
}

.faq__answer.is-open {
  display: block;
}

.faq__head {
  font-size: 0.938rem;
  line-height: 2;
  color: #525f60;
}

.faq__char {
  font-size: 0.938rem;
  line-height: 2;
  font-weight: 700;
}

.faq__icon {
  font-size: 1.75rem;
  color: #37bccd;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq-open .faq__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.is-active .faq__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/********** Contact **********/
.contact__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.contact__description {
  margin-bottom: 2rem;
}

.contact__button {
  margin-top: auto;
}

/********** Scroll top **********/
.scrolltop {
  position: -webkit-sticky;
  position: sticky;
  left: 95%;
  bottom: 1.5rem;
  margin-right: 1.5rem;
  z-index: 10;
  background-color: #37bccd;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #3699a6;
}

.scrolltop__icon {
  font-size: 0.938rem;
  color: #fff;
}

.show-scrolltop {
  opacity: 0.8;
  visibility: visible;
}

/********** Footer **********/
.footer {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-top: 1px solid #cdd4d5;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 36px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer__copyright {
  font-size: 0.75rem;
}

/******************************************************************

Fade effect

******************************************************************/
.fade.up .item {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.fade.down .item {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.fade.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.fade.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.fade .item {
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
  opacity: 0;
}

.fade.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.fade.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.fade.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.fade.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.fade.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.fade.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.fade.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.fade.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.fade.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.fade.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.fade.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/******************************************************************

Media queries

******************************************************************/
/********** XX-Small (less than 350px) **********/
@media (max-width: 350px) {
  .container, .header__container, .about__container, .news__container, .recruitment__container, .faq__container, .contact__container, .footer__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header__title {
    display: none;
  }
}

/********** Small (landscape phones, 576px and up) **********/
@media (min-width: 576px) {
  .hero {
    height: 780px;
  }
  .news__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .recruitment__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/********** Medium (tablets, 768px and up) **********/
@media (min-width: 768px) {
  .main,
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container, .header__container, .about__container, .news__container, .recruitment__container, .faq__container, .contact__container, .footer__container {
    padding-left: 0;
    padding-right: 0;
  }
  .header__container {
    width: 95%;
    margin: 0 auto;
  }
  .section, .about, .news, .recruitment, .faq, .contact {
    padding: 2rem 0 4.5rem;
  }
  .hero {
    height: 660px;
    margin-bottom: 3rem;
  }
  .about__wrapper {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .news__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .recruitment__bg {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .recruitment__container {
    background-color: #37bccd;
    border-radius: 1rem;
    padding: 3rem 2.5rem;
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recruitment__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .recruitment__head, .recruitment__description {
    text-align: left;
  }
  .contact__item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/********** Large (desktops, 992px and up) **********/
@media (min-width: 992px) {
  .header {
    height: 5rem;
  }
  .header__image {
    width: 43px;
  }
  .header__title {
    display: block;
    width: 100px;
  }
  .header__nav {
    z-index: auto;
    position: static;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
  }
  .header__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    z-index: auto;
  }
  .header__btn {
    display: none;
  }
  .hero {
    padding-top: 5rem;
  }
  .recruitment__container {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__wrapper {
    gap: 2rem;
  }
  .contact__item {
    padding: 3rem 2.5rem;
  }
}

/********** X-Large (large desktops, 1200px and up) **********/
@media (min-width: 1200px) {
  .main,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/********** XX-Large (larger desktops, 1400px and up) **********/
@media (min-width: 1400px) {
  .hero {
    height: 750px;
  }
}
/*# sourceMappingURL=style.css.map */